body{
	font-size:87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height:1.5;
	text-align:center;
}
html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.wrapper {
	
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 500px;
    height: 100px;
}
#nav{
	background:transparent;
	color:#7B91AB;
	width:450px;
	margin-left:auto;
	margin-right:auto;
}
#ul{
	list-style:none;
	margin:0 2px;
	padding:0;
	display:flex;
	justify-content:space-between;
	margin:0;
}
#nav li{
	display:inline-block;
	font-size: 20px;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.login {

	margin:auto;
	height: 150px;
	width: 350px;
	padding: 50px;
	z-index: 2;
}

.login  input[type=text]{
	width: 250px;
	height: 30px;
	padding: 5px;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	background: transparent;
	text-align: center;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.login input[type=password]{
	width: 250px;
	height: 30px;
	padding: 5px;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	background: transparent;
	margin-top: 10px;
	text-align: center;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.login input[type=button]{
	width: 260px;
	height: 35px;
	background: transparent;
	border: 2px solid #fff;
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
